<div class="bg">
    <nz-spin [nzSpinning]="isSpinning" [nzSize]="'large'" nztip="Working...">
        <div class="parent">
            <div class="child">
                <div nz-row class="imgDiv">
                    <div nz-col nzSpan="24">
                        <h1 style="text-align: center;">Login</h1>
                    </div>
                </div>
                <form nz-form [formGroup]="loginForm">

                    <nz-form-item>
                        <nz-form-control nzHasFeedback nzErrorTip="The input is not valid e-mail!">
                            <input nz-input placeholder="E-mail" id="email" formControlName="email"/>
                        </nz-form-control>
                    </nz-form-item>

                    <nz-form-item>
                        <nz-form-control nzHasFeedback [nzErrorTip]="errorPass">
                            <input nz-input placeholder="Password" type="password" id="password" formControlName="password"/>
                            <ng-template #errorPass let-control>
                                <ng-container *ngIf="control.hasError('required')">
                                    Password is required!
                                </ng-container>
                                <ng-container *ngIf="control.hasError('pattern')">
                                    Password should contain 8 characters, including lowercase, uppercase, number and special character
                                </ng-container>
                            </ng-template>
                        </nz-form-control>
                    </nz-form-item>

                    <button nz-button class="login-form-button login-form-margin" [nzType]="'primary'" (click)="login()">Login</button>
                    Doesn't have an account? <a routerLink="/register">Register</a>
                </form>
            </div>
        </div>
    </nz-spin>
</div>
